

#btn-list {
    list-style: none;
    display: flex;
    background-color: #344D67;
    justify-content: center;
    align-items: center;
    color: #6ECCAF;
    height: 55px;
    width: 120px;
    margin-right: 10px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid blue;
       
}

#btn-list:hover {
    background-color: #6ECCAF;
    color:#344D67
}

#ul-listItems{
    display: flex;
    justify-content: center;
    width: 150px;
       
}

a:link {
    display: flex;
    text-decoration: none;
    justify-content: center;
  }

