#container1 {
    
    width: 572px;
    height: 500px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffe6;
    font-weight: lighter;
    color: #344D67;
    font-family: 'Raleway', sans-serif;
    
}

#home-title {
    font-weight: 100;
    display: flex;
    align-items: center;
    margin-bottom: 500px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;

}

#nav-home {
    display: flex;
    height: 50px;
    margin-top: 90px;
    margin-bottom: 10px;
    width: 200px;

}

#ul-home {
    display: flex;
    text-decoration: none;
    width: 100px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
       
}






